*{
    margin:0 auto;
}
body{
    font-family: "Open sans", Georgia, serif;
}
a{
    text-decoration:none;
}
header{
    display: flex;
    background-color: #579c87;
    padding:20px;
}
header h1{
    font-weight:bold;
    color:#fcca46;
}
section{
    display: flex;
    text-align:center;
    margin:50px 0;
}
.row-1 a, .row-2 a{
    width: 35%;
}
.resto-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#fcdfdb;
    height:600px;
    box-shadow: 0 0 10px rgba(135, 135, 135, 0.9);
}
.fas{font-size:50px;}
.resto-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:600px;
    background-color: #fff5fe;
    box-shadow: 0 0 10px rgba(135, 135, 135, 0.9);
}
.resto-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f9f9f9;
    height: 600px;
    box-shadow: 0 0 10px rgba(135, 135, 135, 0.9);
}
.resto-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:600px;
    background-color: #fdfffd;
    box-shadow: 0 0 10px rgba(135, 135, 135, 0.9);
}
aside{
    display: flex;
    margin-bottom: 40px;
}
aside h2{
    background-color: #579c87;
    padding:10px 40px;
    border-radius: 20px;
}
aside h2 a{
    color:#fcca46;
    text-decoration:none;
}
footer{
    display: flex;
    justify-content: space-between;
    background-color: #579c87;
    padding:10px;
    color:#fcca46;
}
.mentions-legales{
    margin:0;

}
.contact{
    margin:0;
}